<form #employerForm="ngForm">
  <mat-card>
    <mat-card-title>Employers:</mat-card-title>
    <mat-form-field>
      <input matInput placeholder="Company Name" [(ngModel)]="companyNameTarg" #companyName="ngModel"
        name="companyNameTarg" (ngModelChange)="onSearch($event)">
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort>
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{displayedColumnHeaders[column]}}
        </mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item[column] }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="goTo(row.id);"></mat-row>
    </mat-table>
    <mat-paginator #paginatorPos [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </mat-card>
</form>